async-generator==1.10
attrs==19.3.0
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
ipython-genutils==0.2.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.6.3
jupyter-server==0.1.1
jupyterlab==2.2.0
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
lxml==4.5.2
MarkupSafe==1.1.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nbconvert==5.6.1
numpy==1.18.5
pandas-datareader==0.9.0
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.1
Send2Trash==1.5.0
sip==4.19.13
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
voila==0.1.21
webencodings==0.5.1
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0